extends ./layout/index

block contenido
   main.container.mt-5
      .row
         .col-md-5 
            img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
         .col-md-7
            h1= pagina
            blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor purus, vestibulum eget erat sed, blandit tincidunt lorem. Donec et libero commodo, semper massa id, aliquet libero. Nulla consequat lectus sapien, vitae tempus massa sodales vitae. Praesent tempus rutrum erat eget consequat. Nunc condimentum ipsum augue, ac elementum leo luctus non. Integer vitae lobortis erat. 

            p id sagittis diam, at ornare turpis. Nam finibus laoreet nulla a sollicitudin. Nulla facilisi. Duis risus massa, pharetra vel eros ut, luctus aliquet turpis. Sed pellentesque est ac libero aliquet feugiat. Sed dignissim porta leo, vehicula ultricies ligula imperdiet lobortis. Ut porttitor ante vitae hendrerit sodales. Phasellus laoreet elementum mauris porta congue. 

            p eu ligula ut nibh lacinia malesuada tempor sed arcu. Etiam rhoncus feugiat purus, at pharetra nisl vehicula nec. Praesent ac dui venenatis risus auctor auctor non nec arcu. Vestibulum cursus neque a quam iaculis, et suscipit libero fermentum. Nam in interdum massa. Duis non ullamcorper urna, a posuere dolor. 

   .listado-iconos 
      .container.mt-5.py-5.text-center
         .row 
            .col-md-4
               img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
               h2.mb-4 Seguridad 
               p Duis non ullamcorper urna, a posuere dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis imperdiet tellus sit amet placerat. Aenean varius magna sed turpis dignissim pharetra.

            .col-md-4
               img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
               h2.mb-4 Mejores Destinos 
               p Duis non ullamcorper urna, a posuere dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis imperdiet tellus sit amet placerat. Aenean varius magna sed turpis dignissim pharetra.

            .col-md-4
               img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
               h2.mb-4 Los Mejores Precios 
               p Duis non ullamcorper urna, a posuere dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis imperdiet tellus sit amet placerat. Aenean varius magna sed turpis dignissim pharetra.
